org: carolineartz
app: cutover
service: cutover-integrations
frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs14.x

functions:
  cocktail:
    handler: handler.cocktail
    events:
      - httpApi:
          path: /cocktail
          method: get

  disasterGif:
    handler: handler.disasterGif
    environment:
        GIPHY_API_KEY: ${param:GIPHY_API_KEY}
    events:
      - httpApi:
          path: /disaster-gif
          method: get
plugins:
  - serverless-offline
